/*================
==================
    PREPARE PAGE
=================
=================*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*================
==================
    HIDE SCROLL
=================
=================*/

::-webkit-scrollbar {
    width: 0;
    display: none;
    -webkit-appearance: none;
}
