


<div id="progressbar"></div>
<div id="scrollPath"></div>

<!-- Baner -->
<div class="banner">
  <header>
    <a href="#" class="logo">Brand name</a>
    <div class="toggle"></div>
  </header>
  <img src="assets/neon.jpg" alt="">
  <div class="content">
    <h2>Sucess by desing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam deleniti suscipit in dolor ullam
      fugiat atque velit quidem ipsa repudiandae consequuntur magni ea vero quis aliquid dolorum placeat,
      pariatur veritatis.
    </p>
  </div>
</div>


<!-- About -->
<div class="about">
  <div class="contentBx">
    <h2 class="heading">About Us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, natus, explicabo eum perferendis molestias
      officia, esse corrupti voluptatem incidunt temporibus sunt consequatur dolorem iure assumenda fuga
      maxime culpa earum dolore. <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fuga minima dolorem laborum! Numquam
      accusantium vero magni voluptas. Assumenda non aut quae quasi sequi totam vitae inventore nihil
      voluptates iste? <br> <br>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam eligendi quis enim omnis laborum
      aliquid. Officia, tempore ipsam eaque laudantium dicta, ipsum voluptatem possimus cum ea, quos quasi
      accusamus aliquid.

    </p>
  </div>
  <div class="imgBx"></div>
</div>


<!-- Services -->


<!-- <div class="services">
  <h2 class="heading"></h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto magnam pariatur eos mollitia distinctio
    numquam quam alias error voluptate dolores corporis odit id quisquam, itaque dicta consequatur ex tempore
    magni?</p>
  <div class="container">
    <div class="serviceBx">
      <div>
        <img src="" alt="">
        <h2>Desing</h2>
      </div>
      <div>
        <img src="" alt="">
        <h2>Development</h2>
      </div>
      <div>
        <img src="" alt="">
        <h2>Branding</h2>
      </div>
    </div>
  </div>
</div> -->
