<div id="progressbar"></div>
<div id="scrollPath"></div>

<!-- Baner -->
<div class="banner">
  <header>
    <a href="#" class="logo">Brand name</a>
    <div class="toggle"></div>
  </header>
  <img src="assets/neon.jpg" alt="">
  <div class="content">
    <h2>Sucess by desing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam deleniti suscipit in dolor ullam
      fugiat atque velit quidem ipsa repudiandae consequuntur magni ea vero quis aliquid dolorum placeat,
      pariatur veritatis.
    </p>
  </div>
</div>


<!-- About -->
<div class="about">
  <div class="contentBx">
    <h2>About Us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, natus, explicabo eum perferendis molestias
      officia, esse corrupti voluptatem incidunt temporibus sunt consequatur dolorem iure assumenda fuga
      maxime culpa earum dolore. <br><br>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam fuga minima dolorem laborum! Numquam
      accusantium vero magni voluptas. Assumenda non aut quae quasi sequi totam vitae inventore nihil
      voluptates iste? <br> <br>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam eligendi quis enim omnis laborum
      aliquid. Officia, tempore ipsam eaque laudantium dicta, ipsum voluptatem possimus cum ea, quos quasi
      accusamus aliquid.
    </p>
  </div>
  <div class="imgBx"></div>
</div>


<!-- Services -->


<div class="services">
  <h2>Our Services</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto magnam pariatur eos mollitia distinctio
    numquam quam alias error voluptate dolores corporis odit id quisquam, itaque dicta consequatur ex tempore
    magni?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum quidem adipisci ratione debitis rerum tempore
    similique laudantium quibusdam, quis error magnam commodi itaque. Quam consectetur corrupti culpa illum qui.</p>
  <div class="container">
    <div class="serviceBx">
      <div>
        <img src="assets/icon1.png" alt="">
        <h2>Desing</h2>
      </div>
    </div>
    <div class="serviceBx">
      <div>
        <img src="assets/icon2.png" alt="">
        <h2>Development</h2>
      </div>
    </div>
    <div class="serviceBx">
      <div>
        <img src="assets/icon3.png" alt="">
        <h2>Branding</h2>
      </div>
    </div>
  </div>
</div>


<!-- Tecnology -->

<div class="technology">
  <div class="contentBx">
    <h2>We use cutting edge technology</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum aliquid eius sapiente ex. Fugiat cum enim
      reiciendis deserunt voluptates voluptas aspernatur quaerat iste tempora magni provident commodi quidem,
      reprehenderit architecto.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cupiditate quas earum doloribus, reprehenderit
      sapiente facilis esse maiores provident sed natus quod deleniti itaque voluptas, aliquid dolores. Autem, facere
      adipisci.
    </p>
  </div>
  <div class="imgBx">
    <img src="assets/tech.png" alt="">
  </div>
</div>


<!-- Clients -->
<div class="client">
  <h2>Our Clients</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea modi, quod excepturi ullam rem delectus quas reiciendis
    non officiis, distinctio explicabo porro nihil! Quasi atque esse, unde consequatur debitis vitae?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quaerat ab doloremque nemo, quos tenetur sed, in
    praesentium veritatis nostrum nesciunt veniam repudiandae quasi dolorum? Inventore excepturi atque quia consequatur!
  </p>
  <div class="imgBx">
    <img src="assets/brand1.png" alt="">
    <img src="assets/brand2.png" alt="">
    <img src="assets/brand3.png" alt="">
    <img src="assets/brand4.png" alt="">

  </div>
</div>


<!-- Testimonials -->

<div class="testimonials">
  <h2>What Our Client Says</h2>
  <div class="container">
    <div class="contentBx">
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto doloribus consequuntur architecto
          aliquam, nulla minus inventore sapiente delectus minima, veritatis tenetur repellendus. Amet vero provident,
          doloribus similique odit architecto. Lorem ipsum dolor sit, amet consectetur adipisicing elit. In totam quo
          aperiam laboriosam, voluptatem saepe
          magni magnam natus repellendus, commodi vero quidem, aut a nihil ex. Doloribus sit molestiae tempora.
        </p>
        <br>
        <h3>Some Famous</h3>
      </div>
    </div>
    <div class="contentBx">
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam iusto doloribus consequuntur architecto
          aliquam, nulla minus inventore sapiente delectus minima, veritatis tenetur repellendus. Amet vero provident,
          doloribus similique odit architecto. Lorem ipsum dolor sit, amet consectetur adipisicing elit. In totam quo
          aperiam laboriosam, voluptatem saepe
          magni magnam natus repellendus, commodi vero quidem, aut a nihil ex. Doloribus sit molestiae tempora.
        </p>
        <br>
        <h3>Some Famous</h3>
      </div>
    </div>
  </div>
</div>


<!-- Contact -->



<div class="contact">
  <h2>Contact Us</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque qui sunt rerum, ipsa, aspernatur incidunt sequi
    maiores nemo impedit officiis maxime cumque neque eligendi sed libero quibusdam animi porro vitae.
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates, maiores enim. Sint praesentium veniam in
    assumenda laborum magni incidunt ut nemo omnis, atque sed voluptas. Neque recusandae non fugiat obcaecati?
  </p>
</div>
<div class="about">
  <div class="contentBx">
    <div class="form">
      <div class="inputBx">
        <input type="text" name="" placeholder="Full Name">
      </div>
      <div class="inputBx">
        <input type="text" name="" placeholder="Email Address">
      </div>
      <div class="inputBx">
        <input type="text" name="" placeholder="Mobile No.">
      </div>
      <div class="inputBx">
        <textarea placeholder="Write your message here"></textarea>
      </div>
      <div class="inputBx">
        <input type="submit" name="" value="send">
      </div>
    </div>
  </div>
  <div class="imgBx2"></div>
</div>


<!-- Contact -->
<div class="footer">

  <p>Desing & Developed By Andres Bustamante</p>
  <!-- <ul>
    <li><a href=""><img src="assets/facebook.png" alt=""></a></li>
    <li><a href=""><img src="assets/twitter.png" alt=""></a></li>
    <li><a href=""><img src="assets/linkedin.png" alt=""></a></li>
  </ul> -->
</div>
